body {
  padding: 0px;
  margin: 0;
}

.content-wrapper {
  margin: 20px 80px;
}

.header {
  text-align: center;
}

/* 
TODO: Add Page layout Styling - Mobile First Design!!

- Style Page Layouts for all device sizes
  - determine padding/margin for all devices 
  - add css variables??
    - for colors, sizes, etc
    - for different themes (light/dark) 

*/